:host {
  width: var(--deck-card-width);
  height: calc(var(--deck-card-width) * 1.4);
  cursor: pointer;
  // Long values get a smaller font to fit on the card
  font-size: min(1.25rem, var(--deck-card-width) * 1.4 / var(--value-length));
}

:host(.selected) {
  background-color: var(--bs-blue);
  color: white;
  transform: translate(0px, -6px);
}
