<ng-container *ngIf="watchers$ | async as watchers">
  <p *ngIf="watchers.length" class="watchers text-body-secondary">
    <span class="eye-icon" role="img" [attr.aria-label]="'room.watchers' | translate" [title]="'room.watchers' | translate"></span>
    <span *ngFor="let watcher of watchers" class="watcher text-truncate">{{watcher.nickname}}</span>
  </p>
</ng-container>
<div class="table-area">
  <div #felt class="felt">
    <ng-container *ngIf="table$ | async as table">
      <app-table-card *ngFor="let seat of table.seats; trackBy: nicknameOf"
                      [participant]="seat.participant"
                      [style.left.%]="seat.x"
                      [style.top.%]="seat.y"
                      [style.--card-size]="table.cardSize"
                      [style.--seat-width]="table.seatWidth"/>
    </ng-container>
    <div class="table-center">
      <ng-content/>
    </div>
  </div>
</div>
