<div class="container-fluid d-flex justify-content-center align-content-center flex-wrap" style="height: 75vh">
  <form [formGroup]="createRoomForm" (submit)="createRoom()"
        class="col-10 col-md-8 col-lg-6">
    <div class="form-group mb-3">
      <label for="nicknameInput" class="form-label">Nickname</label>
      <input type="text"
             class="form-control common-transition"
             id="nicknameInput"
             formControlName="nickname"
             placeholder="Choose your display name"
             maxlength="32"
             [ngClass]="{'is-invalid': this.createRoomForm.controls['nickname'].touched &&
                 this.createRoomForm.controls['nickname'].errors,
                 'is-valid': this.createRoomForm.controls['nickname'].valid &&
                 this.createRoomForm.controls['nickname'].touched}">
      <div class="invalid-feedback">{{errorMessage("nickname", "Nickname")}}</div>
    </div>
    <div class="form-group mb-3">
      <label for="roomNameInput" class="form-label">Room Name</label>
      <input type="text"
             class="form-control common-transition"
             id="roomNameInput"
             formControlName="roomName"
             placeholder="Choose room display name"
             maxlength="32"
             [ngClass]="{'is-invalid': this.createRoomForm.controls['roomName'].touched &&
                 this.createRoomForm.controls['roomName'].errors,
                 'is-valid': this.createRoomForm.controls['roomName'].valid &&
                 this.createRoomForm.controls['roomName'].touched}">
      <div class="invalid-feedback">{{errorMessage("roomName", "Room name")}}</div>
    </div>
    <div class="form-group mb-3">
      <label for="deckInput" class="form-label">Deck</label>
      <input type="text"
             class="form-control common-transition"
             id="deckInput"
             formControlName="deck"
             aria-labelledby="deckHelp"
             placeholder="Deck Format: [card_value_1]; [card_value_2]; ... ; [card_value_20]"
             maxlength="158"
             [ngClass]="{'is-invalid': this.createRoomForm.controls['deck'].touched &&
                 this.createRoomForm.controls['deck'].errors,
                 'is-valid': this.createRoomForm.controls['deck'].valid &&
                 this.createRoomForm.controls['deck'].touched}">
      <div class="invalid-feedback">{{errorMessage("deck", "Deck")}}</div>
      <div id="deckHelp" class="form-text common-transition">
        Deck is a set of cards that participants can choose during a vote.
        The deck contains no more than 20 cards.
        Card values must be unique and no more than 6 characters.
        Deck Format: [card_value_1]; [card_value_2]; ... ; [card_value_20]
      </div>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input common-transition"
             type="checkbox"
             id="watcherInput"
             formControlName="watcher">
      <label class="form-check-label" for="watcherInput">
        Join as watcher
      </label>
    </div>
    <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">{{error}}</div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit" [disabled]="createRoomForm.invalid">Create Room</button>
    </div>
  </form>
</div>
