<div class="playing-card common-transition"
     [style.--flip-delay]="(flipDelaySeconds$ | async) + 's'"
     [ngClass]="{
      'voted': voted$ | async,
      'turned': (showVotingResult$ | async) && (voted$ | async)
     }">
  <div class="card-back"></div>
  <div class="card-face">
    <span *ngIf="(showVotingResult$ | async) && (selectedCard$ | async) as card"
          class="card-value" [style.--value-length]="card.value.length">{{card.value}}</span>
  </div>
</div>
<span class="nickname text-truncate" [title]="participant.nickname">{{participant.nickname}}</span>
